#toolbar {
  display: flex;
  align-items: center;
}

.toolbarDivPadding {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 2px black solid;
  border-radius: 20px;
  vertical-align: middle;
}